<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table matSort (matSortChange)="sortData($event)" class="table table-striped" *ngIf="forecasts">
  <thead class="bg-primary">
    <tr>
      <th mat-sort-header="dateFormatted">Date</th>
      <th mat-sort-header="temperatureC">Temp. (C)</th>
      <th mat-sort-header="temperatureF">Temp. (F)</th>
      <th mat-sort-header="Summary">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
