<h1>City weather forecast</h1>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="City:" [(ngModel)]="city">
  </mat-form-field>

</div>
<button mat-raised-button color="primary" (click)="getWeather()">Search</button>

<div *ngIf="data">
    <mat-list>
        <h3 mat-subheader>{{city}}</h3>
        <mat-list-item> Temp (K) : {{ data.main.temp}} </mat-list-item>
        <mat-list-item> Pressure : {{ data.main.pressure }} </mat-list-item>
        <mat-list-item> Wind speed (KM/H) : {{ data.wind.speed }} </mat-list-item>
        <div *ngFor="let item of data.weather" >
            <mat-list-item> Weather : {{item.main}} </mat-list-item>
            <mat-list-item> Weather description : {{item.description}} </mat-list-item>
        </div>
    </mat-list>
</div>
